/* main menu
----------------------------*/

.textBoxStyle
	{
		width: 233px;
		border:1px solid;
	}
	
.formDiv
	{
		border:4px black solid;
		width:40%;
		-moz-border-radius: 35px;
		-webkit-border-radius: 35px;
		margin-left:auto;
		margin-right:auto;
	}
.tableProperty
	{
		width: 82%;
		height: 405px;
		cellspacing="0";
		cellpadding="0";
	}
